/* импортирование шрифта */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

/* универсальный селектор */
* {
    /* внешний отступ */
    /* margin: 0;  */
    /* внутренний отступ */
    /* padding: 0; */
}

/* селектор по тегу */
body {
    margin: 0;
    height: 100vh;
}
div {
    border: solid 2px green;
}

/* Селектор по классу */
.wrapper {
    border: none;
    height: 100%;
    font-family: 'Ubuntu', Arial, sans-serif;
}

/* селектор по идентификатору */
#c1 {
    border-color: red;
}
#c2 {
    border-color: royalblue;
}

/* Grid CSS */
.wrapper {
    display: grid;
    grid-template-areas: 
        "h h h h"
        "s1 m m s2"
        "f f f s2";
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: 80px 1fr 80px;
}
@media (max-width: 900px){
    .wrapper {
        display: grid;
        grid-template-areas: 
            "h h h h"
            "s1 s1 s1 s1"
            "m m m m"
            "s2 s2 s2 s2"
            "f f f f";
        grid-template-rows: 80px 70px 1fr 50px 80px;
    }
}

.header {
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.navbar {
    /* grid-area: n; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}
/* Скомбинированный селектор дочерних элементов */
.navbar>li {
    /* border: solid 2px orange; */
}

/* Скомбинированный селектор потомков */
.navbar a {
    text-decoration: none;
    color: rgb(58, 73, 212);
    font-size: x-large;
}
/* псевдокласс наведения курсора */
.navbar a:hover {
    color: rgb(230, 14, 24);
    font-size: xx-large;
}

.sidebar_1 {
    grid-area: s1;
}
.main {
    grid-area: m;
    height: 100%;
}
.content {
    height: 100%;
}
.sidebar_2 {
    grid-area: s2;
}
.footer {
    grid-area: f;
}