<!-- Теги -->

<h1>Заголовок 1 уровня</h1>

<h2>
    Заголовок 2 уровня
</h2>

<div>
    <h3>Заголовок</h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem in temporibus a, unde molestiae id nobis, assumenda recusandae autem iusto accusamus ullam ut eveniet dolores nesciunt animi! Dolores, facilis numquam.
    </p>
</div>

<span>строчный элемент 1</span>
<span>строчный элемент 2</span>

<a href="https://google.com">ССЫЛКА</a>

<img src="../static/1.png" alt="лого гугла">

<div>
    <h3>Заголовок</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, maiores.
    </p>
    <p>
        Lorem ipsum dolor sit amet.
    </p>
    <div>
        <a href="http://google.com" target="_blank">
            <img src="../static/1.png" alt="лого гугла">
        </a>
    </div>
</div>